*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    box-sizing: border-box;
  }
h1{
    font-family: arial bold;
    font-size: 40px;
    text-align: center;
  }
h2{
    text-align: center;
    font-family: arial bold;
    font-size: 24px;
}
h3{
    text-align: center;
    font-family: arial bold;
    font-size: 17px;
}
h4{
    font-size: 15px;
    font-family: arial bold;
}
.site-nav{
    width: 100%;
    background-color:#444444;
  }
  .site-nav a{
    color: white;
    text-decoration: none;
  }
  .site-nav ul{
    list-style-type: none;
    padding-left: 0;
  }
  .site-nav a{
    color: white;
    text-decoration: none;
  }

  .site-nav li{
    display: inline-block;
    position: relative;
    font-size: 1rem;
    padding: .5rem 3rem;
  }
  .site-nav li:hover{
    background-color: #444444;
  }
  .site-nav ul.drop-down{
    display: none;
    min-width: 10rem;
    background-color: #03a3df;
    top: 2.1rem;
    left: 0;
    position: absolute;
  }
  .site-nav >ul> li:hover ul.drop-down{
    display: block;
  }
  .site-nav ul.drop-down li{
   display: block;
   width: 100%;
   padding:.5rem 1rem;
  }

  .site-nav ul.drop-down a{
    color: black;
  }
  .site-nav ul.drop-down li:hover a{
    color: white;
  }

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.item1{
    color: #1b447f;
}
.item3{
    background-color: #03a3df;
}
.item2{
    background-color: #ecb722;
}
.item4{
    background-color: #444444;
}
.item5{
    color: white;
    background-color: #1b447f
}
footer{
    font-size: 12px;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
}
.derek{
	background-color: #03a3df;
}
.amy{
	background-color:#ecb722;
}
.nathan{
    background-color: #03a3df;
}
input[type="submit"]:active{
  border-color: white;
}
input:invalid{
  background-color: white;
}
input:focus{
  background-color: pink;
}
